

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.signature-height {
    height: 9em;
}

.header {width: 100%;}


h2 { font-family:"Arial Black", Gadget, sans-serif; font-style: italic; color: #555555; }

th {background: #efefef;}





